# Ignore Python virtual environments
env/
venv/
.venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Ignore large audio files folder
/data/fma_small/
# Keep large csv files only locally
data/fma_metadata/*.csv