# Core
torch
torchvision
torchaudio

# GNN support (later step)
torch-geometric

# Data handling
pandas
numpy
random

# Visualization
matplotlib
networkx
pyvis

# For notebooks
jupyter

# Optional: Web interface
streamlit

# For audio loading and preprocessing
librosa
tqdm    # progress meter for loops
torchopenl3
soundfile